header {
    background-color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC; }
.logo {
    background: url("https://github.com/poix-code/AirBnB_clone_v2/blob/main/web_static/images/logo.png") no-repeat;
    margin-left: 20px;
    height: 100%; }